body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    background: #293241;
}
#container {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align items horizontally */
    justify-content: center; /* Center-align items vertically */
    height: 100vh; /* Make the container full viewport height */
}
#image-container {
    /* This container will hold the images */
}

#question {
    font-family: 'Sacramento', cursive; /* Apply Sacramento font to the question */
    font-size: 52px; /* Set font size for the question */
}

#options {
    margin-top: 20px; /* Add space above the options */
}

button {
    padding: 10px 20px; /* Set padding for buttons */
    margin: 0 10px; /* Set margin around buttons */
    font-size: 26px; /* Set font size for buttons */
    font-family: 'Sacramento', cursive; /* Apply Sacramento font to the options */
    background-color: #FB607F; /* Set button background color */
    color: white; /* Set text color to white */
    border: none; /* Remove button border */
    cursor: pointer; /* Set cursor to pointer on hover */
}

.heart{
    height: 70px;
    width: 70px;
    background: #800020;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation:  heart 0.6s linear infinite;
}
@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.07);       
    }
    60%{
        transform: rotate(-45deg) scale(1.0);       
    }
    80%{
        transform: rotate(-45deg) scale(0.8);       
    }
}
.heart:before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #800020;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #800020;
}
.heart:after{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #800020;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px -10px 90px #800020;
}